.centrado {
    text-align: center;
    border: 2cm;
    margin: 100px;
    /*margin-top: 2px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;*/
}
.centrado_head {
    text-align: center;
    border: 2cm;
}

p,h1,h2{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    /*border: 2cm;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;*/
}

body{
    background-color: #09706b;
}

.ayuda{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contdes{
    display: flex;
    margin: 50px;
    align-content: stretch;
    align-items: center;
}

.img {
    width: 500px;
}

.Imgdv {
    display: flex;
    flex-direction: row;
    margin: 50px;
}
